:root{
    --basicBlack : #000000;
    --mainBackgroundColor: #021526;
    --mainTextColor : #FFFFFF;
    --highlightedTextColor : #64FFDA;
}

*{
    color: var(--mainTextColor);
}

body{
    font-size: 16px;
    background-color: var(--mainBackgroundColor);
}

.main__container{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    padding: 40px 8% 40px 8%;
}

/* HEADER----------------------------> */

/* ------HEADER MOBILE */
header{
    display: flex;
    justify-content: right;
}

.header__nav{
    position: fixed;
    top: 0;
    left: -100%;
    width: 40%;
    height: 100vh;
    background-color: var(--basicBlack);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: left 0.5s ease-in-out;
    z-index: 100;
    border-right: 1px solid var(--highlightedTextColor);
    padding: 25px 0 50px 0;
}

.header__nav--open{
    left: 0;
}

.nav__logo{
    max-width: 100px;
}

.nav__ul_num{
    color: var(--highlightedTextColor);
}

.header__nav ul{
    padding-bottom: 70px;
}

.header__nav ul li{
    margin-top: 20px;
}

.nav__curriculum{
    display: flex;
    justify-content: center;
    background-color: var(--highlightedTextColor);
    color: var(--basicBlack);
}

.header__lang{
    display: flex;
    gap: 5px;
}

.header__lang img{
    width: 20px;
}

.header__menu-btn{
    max-width: 50px;
    cursor: pointer;
}

.header__logo{
    display: none;
}

.lang__selector{
    display: none;
}
/* ------HEADER MOBILE */


/* ------HEADER TABLET AND DESKTOP */
@media (min-width: 768px){
    header{
        justify-content: space-between;
        align-items: center;
    }

    .header__logo{
        display: block;
        max-width: 150px;
    }

    .header__nav{
        background-color: var(--mainBackgroundColor);
        position: static;
        justify-content: space-around;
        width: auto;
        height: auto;
        flex-direction: row;
        border-right: none;
        padding: 0;
    }

    .header__nav ul{
        padding: 0;
        display: flex;
        gap: 15px;
    }

    .header__nav ul li{
        margin: 0;
    }

    .header__menu-btn{
        display: none;
    }

    .nav__logo{
        display: none;
    }

    .header__lang{
        display: none;
    }

    /* MAIN----------------------------> */

    .lang__wrapper{
        display: flex;
        justify-content: right;
    }

    .lang__selector{
        display: flex;
        max-width: 25px;
        gap: 5px;
        margin-right: 55px;
    }

}
/* ------HEADER TABLET AND DESKTOP */

/* HEADER----------------------------> */

