:root{
    --basicBlack : #000000;
    --mainBackgroundColor: #021526;
    --mainTextColor : #FFFFFF;
    --highlightedTextColor : #64FFDA;
    --htmlColor : #E34F26;
    --sassColor : #CC6699;
    --jsColor : #F7DF1E;
    --reactColor: #61DAFB;
}

*{
    color: var(--mainTextColor);
    font-family:"Aldrich", sans-serif;
}


body.noscroll {
    overflow: hidden;
}

.main__container{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    max-width: 1440px;
}

/* ---------------------------------------------------------------------------MOBILE S */
/* ---------------------------------------------------------------------------MOBILE S */
/* ---------------------------------------------------------------------------MOBILE S */
/*----HEADER----*/
/*----HEADER----*/
/*----HEADER----*/

body{
    font-size: 16px;
    background-color: var(--mainBackgroundColor);
    padding-top: 120px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(4px);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 100;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 120px;
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(2, 21, 38, 0.7);
    backdrop-filter: blur(10px);  
    z-index: 200;
    transition: transform 0.5s ease;
    max-width: 1440px;
}

.header.hide {
    transform: translateY(-100%);
}

.header.overlayh{
    background-color: transparent;
    backdrop-filter: none;
}

.header__logo{
    display: block;
    width: 135px;
    padding: 0px;
    margin-left: 8%;
    transition: transform 0.5s ease;
}

.header__logo.hide{
    transform: translateX(-200%);
}

.header__menu-btn{
    max-width: 45px;
    cursor: pointer;
    margin-right: 8%;
}

.header__nav{
    position: fixed;
    top: 0;
    left: -100%;
    width: 200px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: left 0.5s ease-in-out;
    z-index: 300;
    border-right: 1px solid var(--highlightedTextColor);
    padding: 25px 0 50px 0;
    overflow-y: auto;
}

.header__nav--open{
    left: 0;
}

.nav__logo{
    max-width: 100px;
}

.header__lang{
    display: flex;
    gap: 5px;
    margin-bottom: 100px;
}

.header__lang img{
    width: 20px;
}

.nav__ul_num{
    color: var(--highlightedTextColor);
}

.header__nav ul li{
    margin-top: 20px;
}

.header__nav ul li a{
    text-decoration: none;
}

.header__nav ul li a:hover{
    color: var(--highlightedTextColor);
}

.nav__curriculum {
    color: var(--highlightedTextColor);
    background-color: transparent;
    border: 1px solid var(--highlightedTextColor);
    border-radius: 4px;
    padding: 0.75rem 1rem;
    margin-bottom: 15px;
    line-height: 1;
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    display: inline-block;
}

.nav__curriculum:hover,
.nav__curriculum:focus-visible {
    outline: none;
    box-shadow: 3px 3px 0 0 var(--highlightedTextColor);
    transform: translate(-4px, -4px);
}

.nav__curriculum::after {
    display: none !important;
}

.header__lang:hover span{
    color: var(--highlightedTextColor);
}

.lang__selector{
    display: none;
}

.lang__wrapper{
    display: none;
}

/*----MAIN------*/
/*----MAIN------*/
/*----MAIN------*/

.section{
    min-height: calc(100vh - 120px);
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
    padding: 0px 12.65%;
}

.section.visible{
    opacity: 1;
    transform: translateY(0);
}

.section__title{
    margin-bottom: 20px;
    color: var(--highlightedTextColor);
    font-size: 2rem;
}

.introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(0.8rem, 0.5vw + 1.5vh, 2rem);
    padding-bottom: 100px;
}

.intro__highlighted{
    color: var(--highlightedTextColor);
    font-family: "Bitcount Prop Single";
    font-weight: 700;
}

.intro__title_name{
    font-size: clamp(2rem, 1vw + 3vh, 3rem);
    font-family: "Aldrich", sans-serif;
}

.intro__social{
    display: flex;
    gap: 15px;
    margin-top: 50px;
}

.intro__social i{
    font-size: clamp(1.5rem, 1vw + 2vh, 2rem);
    transition: transform 0.3s ease;
    padding-left: 10px;
}

.intro__social i:hover{
    transform: translateY(-2px);
}

.about{
    display: flex;
    align-items: center;
    padding-bottom: 100px;
}

.about__lamp_img{
    display: none;
}

.about__info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.about__text{
    text-align: justify;
    font-size: clamp(1rem, 1vw + 1.3vh, 1.3rem);
}

.about__text_highlight{
    color: var(--highlightedTextColor);
}

.about__image_section{
    border: 3px solid var(--highlightedTextColor);
    margin: 25px auto;
}

.mySwiper{
    width: 100%;
}

.mySwiper .swiper-slide{
    background-position: center;
    background-size: cover;
    width: 100%;
}

.mySwiper .swiper-slide img{
    display: block;
    width: 100%;
    height: 180px;
}

.about-pagination {
    position: relative;  
    margin-top: -15px;   
    text-align: center;  
}

.about-pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background: #ccc;    
    opacity: 1;           
}

.about-pagination .swiper-pagination-bullet-active {
    background: var(--highlightedTextColor); 
}

.lineTop{
    margin-left: auto;
    width: 83%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--highlightedTextColor);
}

.my-slider{
    width: 100%;
}

.experience__title{
    font-size: clamp(1.2rem, 1.2vw + 1.7vh, 1.8rem);
    /* font-size: 1.25rem; */
    margin-left: auto;
    color: var(--highlightedTextColor);
}

.experience__time{
    font-size: clamp(0.5rem, 0.7vw + 1vh, 0.8rem);
    margin-left: auto;
}

.experience__item{
    width: 100%;
}

.experience__item span{
    color: var(--highlightedTextColor);
}

.experience__image{
    display: none;
}

.experience__text{
    margin-top: 20px;
    text-align: justify;
    margin-bottom: 20px;
    font-size: clamp(1rem, 1vw + 1.3vh, 1.3rem);
}

.experience__skills{
    margin-top: 15px;
    margin-left: 25px;
}

.experience__skills ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.experience__skills ul li{
    display: flex;
    align-items: center;
    gap: 5%;
}

.skills__icon_container{
    width: 40px;
}

.experience__skills ul li i{
    font-size: 1.2rem;
}

.fa-html5{
    color: var(--htmlColor);
}

.fa-sass{
    color: var(--sassColor);
}

.fa-react{
    color: var(--reactColor);
}

.fa-square-gitlab{
    color: var(--htmlColor);
}

.skills__line{
    width: 60%;
    height: 2px;
}

.line__html{
    background-color: var(--htmlColor);
}

.line__sass{
    background-color: var(--sassColor);
}

.line__react{
    background-color: var(--reactColor);
}

.line__gitlab{
    background-color: var(--htmlColor);
}

.lineBot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.lineBot span{
    flex: 1;
    height: 1px;
    background-color: var(--highlightedTextColor);
}

.lineBot span:first-child{
    margin-right: 20%;
}

.lineBot span:last-child{
    margin-left: 20%;
}

.experience__item{
    display: flex;
    flex-direction: column;
}

.experience-pagination{
    position: relative;  
    display: flex;
    justify-content: center;
}

.experience-pagination .swiper-pagination-bullet{
    width: 30px;
    height: 15px;
    border-radius: 2px;       
    background: transparent;  
    border: 1px solid var(--highlightedTextColor);
    color: var(--highlightedTextColor);
    font-size: 0.5rem;
    opacity: 1;              
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.experience-pagination .swiper-pagination-bullet-active {
    background: var(--highlightedTextColor);
    color: var(--basicBlack);
}




/*----FOOTER----*/
/*----FOOTER----*/
/*----FOOTER----*/

/* ---------------------------------------------------------------------------MOBILE l */
/* ---------------------------------------------------------------------------MOBILE l */
/* ---------------------------------------------------------------------------MOBILE l */
@media (min-width: 480px){
    /*----HEADER----*/
    /*----HEADER----*/
    /*----HEADER----*/
    body{
        padding-top: 160px;
    }
}

/* ---------------------------------------------------------------------------TABLET S */
/* ---------------------------------------------------------------------------TABLET S */
/* ---------------------------------------------------------------------------TABLET S */
@media (min-width: 600px){
    /*----HEADER----*/
    /*----HEADER----*/
    /*----HEADER----*/
    .mySwiper .swiper-slide img{
        height: 250px;
    }

    .experience__image{
        display: block;
        width: 100%;
        margin-top: 35px;
        margin-bottom: 20px;
    }

    .experience__image img{
        width: 100%;
        min-width: 100px;
        max-width: 450px;
        margin-left: auto;
    }
}


/* --------------------------------------------------------------------------TABLET L */
/* --------------------------------------------------------------------------TABLET L*/
/* --------------------------------------------------------------------------TABLET L*/

@media (min-width: 768px){
    /*----HEADER----*/
    /*----HEADER----*/
    /*----HEADER----*/

    body{
        padding-top: 200px;
    }

    .header__logo{
        width: 200px;
    }

    .header__menu-btn{
        max-width: 65px;
        right: 10%;
    }
    
    /*----MAIN----*/
    /*----MAIN----*/
    /*----MAIN----*/
    .introduction{
        min-height: calc(100vh - 200px);
        padding-bottom: 250px;
    }

    .section__title{
        margin-bottom: 40px;
        font-size: 2.5rem;
    }

    .about__image_section{
        margin: 60px auto;
    }

    .mySwiper .swiper-slide img{
        display: block;
        width: 100%;
        height: 330px;
    }

    .experience__skills ul li i{
        font-size: 1.7rem;
    }

}

/* -----------------------------------------------------------------------------DESKTOP XS */
/* -----------------------------------------------------------------------------DESKTOP XS */
/* -----------------------------------------------------------------------------DESKTOP XS */

@media (min-width: 900px){
    body{
        display: flex;
        justify-content: center;
        padding-top: 120px;
    }

    body.noscroll {
        overflow: visible;
    }

    .overlay {
        display: none;
    }

    .header__logo{
        width: 120px;
    }

    .header__nav{
        background-color: transparent;
        position: static;
        justify-content: space-around;
        width: auto;
        height: auto;
        flex-direction: row;
        border-right: none;
        padding: 0;
        border-top: none;
        border-right: none;
        border-bottom: none;
        padding-right: 8%;
        font-size: 0.8rem;
    }
    
    .header__nav ul{
        padding: 0;
        display: flex;
        gap: 15px;
        align-items: center;
        margin-top: 5px;
    }
    
    .header__nav ul li{
        margin: 0;
    }
    
    .header__menu-btn{
        display: none;
    }
    
    .nav__logo{
        display: none;
    }
    
    .header__lang{
        display: none;
    }

    .lang__wrapper{
        display: flex;
        position: absolute;
        top: 75%;
        right: 8%;
        font-size: 0.8rem;
    }

    .lang__selector{
        display: flex;
        max-width: 20px;
        gap: 5px;
        margin-right: 57px;
    }

    .lang__selector:hover span{
        color: var(--highlightedTextColor);
    }

    /*----MAIN----*/
    /*----MAIN----*/
    /*----MAIN----*/
    .introduction{
        min-height: calc(100vh - 120px);
        font-size: clamp(0.9rem, 1vw + 0.5vh, 1.5rem);
        padding-bottom: 0px;
        padding-left: 17%;
    }

    .intro__title_name{
        font-size: clamp(2rem, 3vw + 1.5vh, 3.2rem);
    }
    
    .intro__social i{
        font-size: clamp(1.5rem, 2vw + 1vh, 2rem);
    }

    .about{
        display: flex;
        padding-top: 120px;
        gap: 7.18%;
    }

    .about__lamp_img{
        position: relative;
        display: flex;
        min-width: 30%;
        align-items: flex-end;
        min-height: 750px;
    }
    
    .about__lamp_img img{
        width: 100%;
        margin-bottom: 6%;
    }

    .about__info{
        min-width: 46.9%;
    }

    .section__title{
        font-size: 2rem;
    }

    .mySwiper .swiper-slide img{
        height: 220px;
    }

    .experience__text{
        width: 67%;
        margin-left: auto;    
        margin-bottom: 50px;
        font-size: clamp(1rem, 1vw + 1.3vh, 1.3rem);
    }

    .experience__skills{
        margin-left: 0px;
    }

    .skills__line{
        width: 40%;
        height: 2px;
    }
        
    /*----FOOTER----*/
    /*----FOOTER----*/
    /*----FOOTER----*/
    
}
/* -----------------------------------------------------------------------------DESKTOP S */
/* -----------------------------------------------------------------------------DESKTOP S */
/* -----------------------------------------------------------------------------DESKTOP S */

@media (min-width: 1080px){
    .header{
        margin: 0 auto;
    }

    .section__title{
        margin-bottom: 15px;
    }

    .about__image_section{
        margin: 40px auto;
    }

    .mySwiper .swiper-slide img{
        height: 250px;
    }
}

/* -----------------------------------------------------------------------------DESKTOP M*/
/* -----------------------------------------------------------------------------DESKTOP M*/
/* -----------------------------------------------------------------------------DESKTOP M*/

@media (min-width: 1200px){
    .header__logo{
        width: 160px;
    }

    .header__nav{
        font-size: 1rem;
    }

    .about{
        padding-top: 120px;
        gap: 7.18%;
    }

    .section__title{
        font-size: 2.3rem;
    }

    .mySwiper .swiper-slide img{
        height: 270px;
    }

    .skills__line{
        width: 30%;
    }

}

/* -----------------------------------------------------------------------------DESKTOP L*/
/* -----------------------------------------------------------------------------DESKTOP L*/
/* -----------------------------------------------------------------------------DESKTOP L*/

@media (min-width: 1440px){

    .header{
        max-width: 1640px;
    }

    .section{
        padding: 0px 3%;
    }

    .introduction{
        padding-left: 15%;
    }
  
    .section__title{
        font-size: 2.7rem;
    }
        
    .mySwiper .swiper-slide img{
        height: 376px;
    }

    .skills__line{
        width: 25%;
    }

    .experience__text{
        margin-bottom: 0px;
    }

    
}



